DATABASE_URL=postgresql://pmmi:change-me@host.docker.internal:5432/pmmi
JWT_SECRET=replace-with-at-least-32-random-characters
BOOTSTRAP_ADMIN_TOKEN=replace-with-random-bootstrap-token
MINIO_ENDPOINT=http://host.docker.internal:9000
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
MINIO_BUCKET=pmmi
PORT=3001
HOST=0.0.0.0
